.section {
  min-height: 100vh;
  padding: 40px 0;
  opacity: 0;
  transform: translateY(40px);
  transition:
    opacity 1s ease,
    transform 1s ease;
}

.visible {
  opacity: 1;
  transform: translateY(0);
}
